<table class="schedule-table">
  <thead>
  <tr>
    <th>Вибрано</th>
    <th>Назва предмету</th>
    <th>К-ть груп</th>
    <th>К-ть годин</th>
  </tr>
  </thead>
  <tbody>
    @for (row of tableData.value; track row.key) {
      <tr>
        <td>
          <mat-checkbox [ngModel]="row.checked" (ngModelChange)="onInputChange('checked', $event, row.key)"></mat-checkbox>
        </td>
        <td>
          {{ row.label }}
        </td>
        <td>
          <input name="groupNumber" matInput type="number" [ngModel]="row.groupNumber"
                 (ngModelChange)="onInputChange('groupNumber', $event, row.key)" min="1" max="10">
        </td>
        <td>
          <input name="hours" matInput type="number" [ngModel]="row.hours"
                 (ngModelChange)="onInputChange('hours', $event, row.key)" step="0.5" min="0.5" max="100">
        </td>
      </tr>
    }
  </tbody>
</table>
<button (click)="save()" class="save" color="primary" mat-raised-button>Зберегти всі</button>

