@if (grades.length === 0) {
  Спочатку додайте класи
} @else {
  <mat-form-field>
    <mat-label>Виберіть клас</mat-label>
    <mat-select [ngModel]="selectedGradeKey | async"
                (selectionChange)="selectedGradeKey.next($event.value)"
    >
      @for (gradeKey of grades; track gradeKey) {
        <mat-option [value]="gradeKey">{{ gradeKey }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (selectedGradeKey.value) {
    <app-grade-subjects [gradeKey]="selectedGradeKey"></app-grade-subjects>
  }
}
