<table class="schedule-table">
  <thead>
  <tr>
    @for (day of days; track day) {
      <th>{{ getDayName(day) }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @if (!!blockedLessonMatrix.length) {
      @for (slot of slots; track slot) {
        <tr>
          @for (day of days; track day) {
            <td>
              <mat-checkbox [checked]="blockedLessonMatrix[day][slot]"
                            (change)="onCheckboxChange($event.checked, day, slot)">{{ slot }}-й урок
              </mat-checkbox>
            </td>
          }
        </tr>
      }
    }

  </tbody>
</table>


