@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.save {
  position: fixed!important;
  bottom: 100px!important;
  right: 100px!important;
  z-index: 10000;
}

.bordered {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.schedule-table {
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
}

.schedule-table th {
  background-color: #f2f2f2;
}

.selector {
  position: sticky;
  top: 0px;
  z-index: 10000;
}

